<div class="container">
  <button data-tab="panel1" class="accordion-btn btn">button1</button>
    <div class="panel1 hidden">
     learn more about us learn more about us learn more about us learn more about us learn more about us learn more about us learn more about us learn more about us learn more about us learn more about us learn more about us learn more
      learn more about us learn more about us learn more about us learn more about us learn more about us learn more
      learn more about us learn more about us learn more about us learn more about us learn more about us learn more
      learn more about us learn more about us learn more about us learn more about us learn more about us learn more
      learn more about us learn more about us learn more about us learn more about us learn more about us learn more
    </div>
  <button data-tab="panel2" class="accordion-btn btn">button2</button>
       <div class="panel2 hidden">   
         see more offers
         see more offers
         see more offers
     </div>
  <button data-tab="panel3" class="accordion-btn btn">button 3</button>
       <div class="panel3 hidden">
         contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us contact us 
     </div>
</div>