{{!-- <div class="carousel">
  <button class="btn-previous">Previous</button>
  <button class="btn-next">Next</button>
  <ul class="carousel-items">
    <li>1</l1>
    <li>2</l1>
    <li>3</l1>
    <li>4</l1>
    <li>5</l1>
    <li>6</l1>
    <li>7</l1>
    <li>8</l1>
    <li>9</l1>
    <li>10</l1>
    <li>11</l1>
    <li>12</l1>
  </ul>
</div> --}}

<button class="btn-display-modal">Click to display the modal</button>
<div class="modal">
  <div class="modal-content">
    <button class="btn-close">Close modal</button>
    <h2 class="modal-header">Hello there!</h2>
  </div>
</div>