<section id="colour-palette">
	<div class="colour-base"></div>
	<div class="colour-buttons">
		<button class="red-button"></button>
		<button class="blue-button"></button>
		<button class="green-button"></button>
	</div>
</section>