<div class="infinite-scroll-wrapper">
	<ul id="infinite-scroll">
    	<li class="card">1</l1>
    	<li class="card">2</l1>
    	<li class="card">3</l1>
    	<li class="card">4</l1>
    	<li class="card">5</l1>
    	<li class="card">6</l1>
    	<li class="card">7</l1>
    	<li class="card">8</l1>
    	<li class="card">9</l1>
    	<li class="card">10</l1>
    	<li class="card">11</l1>
    	<li class="card">12</l1>
  </ul>
</div>