<table id="minesweeper" class="minesweeper-wrapper">
	{{#minesweeper}}
	<tr class="row-wrapper">
		<td class="data-wrapper"><button class="btn">X</button></td>
		<td class="data-wrapper"><button class="btn">X</button></td>
		<td class="data-wrapper"><button class="btn">X</button></td>
	</tr>
	<tr class="row-wrapper">
		<td class="data-wrapper"><button class="btn">X</button></td>
		<td class="data-wrapper"><button class="btn">X</button></td>
		<td class="data-wrapper"><button class="btn">X</button></td>
	</tr>
	<tr class="row-wrapper">
		<td class="data-wrapper"><button class="btn">X</button></td>
		<td class="data-wrapper"><button class="btn">X</button></td>
		<td class="data-wrapper"><button class="btn">X</button></td>
	</tr>
	{{/minesweeper}}
</table>
