<table id="minesweeper" class="minesweeper-wrapper">
	<tr class="row-wrapper">
		<td class="data-wrapper"><button class="btn" data-row="0" data-col="0"><span class="btn-label">X</span></button></td>
		<td class="data-wrapper"><button class="btn" data-row="0" data-col="1"><span class="btn-label">X</span></button></td>
		<td class="data-wrapper"><button class="btn" data-row="0" data-col="2"><span class="btn-label">X</span></button></td>
	</tr>
	<tr class="row-wrapper">
		<td class="data-wrapper"><button class="btn" data-row="1" data-col="0"><span class="btn-label">X</span></button></td>
		<td class="data-wrapper"><button class="btn" data-row="1" data-col="1"><span class="btn-label">X</span></button></td>
		<td class="data-wrapper"><button class="btn" data-row="1" data-col="2"><span class="btn-label">X</span></button></td>
	</tr>
	<tr class="row-wrapper">
		<td class="data-wrapper"><button class="btn" data-row="2" data-col="0"><span class="btn-label">X</span></button></td>
		<td class="data-wrapper"><button class="btn" data-row="2" data-col="1"><span class="btn-label">X</span></button></td>
		<td class="data-wrapper"><button class="btn" data-row="2" data-col="2"><span class="btn-label">X</span></button></td>
	</tr>
</table>
