<button class="btn-display-modal">Click to display the modal</button>
<div class="modal">
  <div class="modal-content">
    <button class="btn-close">Close modal</button>
    <h2 class="modal-header">Hello there!</h2>
  </div>
</div>