<div id = "nav-bar">
  <div class = "left-nav-bar">
    <span class="main-logo"></span>
    <input type="text" />
  </div>
  <nav id="nav-links">
    <ul>
      <li class="list-item"><span class="logo"></span></li>
      <li class="list-item"><span class="logo"></span></li>
      <li class="list-item"><span class="logo"></span></li>
      <li class="list-item"><span class="logo"></span></li>
      <li class="list-item"><span class="logo"></span></li>
    </ul>
  </nav>
</div>

{{!-- <div id="menu-nav">
  <div id="navigation-bar">
    <ul>
      <li><a href="#"><i class="logo"></i><span>Home</span></a></li>
      <li><a href="#"><i class="fa fa-cogs"></i><span>Widgets</span></a></li>
      <li><a href="#"><i class="fa fa-user"></i><span>About</span></a></li>
      <li><a href="#"><i class="fa fa-book"></i><span>Contact</span></a></li>
      <li><a href="#" onclick="hideandshow('#search-bar')"><i class="fa fa-search"></i><span>Search</span></a></li>
    </ul>
  </div>
  
  <div id="search-bar">
    <form>
      <input type="text" placeholder="Enter your query and hit Enter" />
    </form>
  </div>
</div> --}}