<div class="navigation" id="{{id}}">
	<span class="current-page-description">{{start}} to {{count}} of {{total}}</span>
	<button class="left-arrow js-navigation-left"></button>
	<button class="right-arrow js-naviagation-right"></button>
</div>