@import "variables";
// @import "partials/colour-palette";
// @import "partials/navigation";
// @import "partials/pagination";
// @import "partials/infinite_scroll";
// @import "partials/minesweeper";
// @import "partials/carousel";
// @import "partials/modal";
// @import "partials/progress-bar";
// @import "partials/magnifier";
// @import "partials/nav-bar";
@import "partials/accordion";

body {
  padding: 0 100px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.other-checkboxes {
	list-style: none;
}

