@import "variables";
// @import "partials/navigation";
// @import "partials/pagination";
// @import "partials/infinite_scroll";
@import "partials/minesweeper";


body {
  padding: 0 100px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blog-container {
  width: 100%;
  min-height: 700px;
  background-color: $blog-background-color;

  h1 {
    margin: 0;
  }
}
.blog-content {
	
}

