#navigation {
	display: inline-block;
	.current-page-description {
		padding: 8px;
		&:hover {
			background: $description-hover-color;
			border-radius: 3px;
			cursor: pointer;
		}
	}

	.left-arrow {
		width: 0;
		height: 0;
		border: none;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 5px solid $arrow-color;

	}

	.right-arrow {
		width: 0;
		height: 0;
		border: none;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid $arrow-color;

	}
}